@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&family=Ubuntu&display=swap");

.home {
  font-family: "Lato", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.homeBackground {
  background-image: url("../images/sunrise.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.homeIntro {
  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: center;
  align-items: center;
}

.homeIntroEmoji {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.homeIntroEmoji img {
  height: 300px;
}

.homeIntroText {
  background-color: black;
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 65%;
  padding: 10px;
  border: 5px solid white;
  border-radius: 30px;
}
